@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --cor-principal: #E9FA01;
    --cor-background: #080808;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

body {
    background-color: var(--cor-background);
}

.logoAlura {
    position: fixed;
    top: 1rem;
}

.mainPage {
    display: flex;
    margin: 2rem;
}

.userInterface {
    display: flex;
    flex-direction: column; /* Organiza os filhos em coluna */
    height: 50rem;
    width: 70rem;
}

.encryptArea {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--cor-principal);
    border-radius: 2rem;
    width: 42rem;
    height: 48rem;
}

.encryptAreaDefault {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 42rem;
    height: 48rem;
    gap: 3rem;
}

.errorMessage {
    display: none;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin: 2rem;
    position: relative;
    top: 10rem;
}

.errorMessage > img {
    animation: jello-horizontal 1.8s infinite;
}

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }

.userInputTextArea {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

#userInput {
    display: flex;
    height: 40rem;
    width: 100%; 
    background: transparent; 
    border: none;
    outline: none; 
    resize: none;
    padding: 7rem; 
    box-sizing: border-box; 
    font-size: 2rem;
    color: var(--cor-principal);
}

#userInput::placeholder {
    color: var(--cor-principal);
    opacity: 1;
}

.userInterfaceButtons {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 4rem;
    padding: 1rem;
}

.userInterfaceButtonsStyles {
    background-color: var(--cor-background);
    color: var(--cor-principal);
    border: 2px solid var(--cor-principal);
    border-radius: 1rem;
    padding: 1rem;
    width: 25rem;
    font-size: 1rem;
    font-weight: 600;
}

.userInterfaceButtonsStyles:hover {
    transition: 0.5s ease;
    cursor: pointer;
    background-color: var(--cor-principal);
    color: var(--cor-background);
}

.warningText {
    display: flex;
    justify-content: center;
}

.warningSign {
    float: left;
    margin-right: .3rem;
}

span {
    color: var(--cor-principal);
}

.encryptAreaDefault > img {
    display: flex;
    animation: pulse 0.8s infinite;}
    @keyframes pulse {
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.2);}
}

#output {
    height: 40rem;
    width: 40rem;
    font-size: 2rem;
    border: none;
    outline: none; 
    resize: none;
    color: var(--cor-principal);
    background: transparent;
}

#copyButton {
    position: fixed;
    top: 43.8rem;
}